<!DOCTYPE html>
<html>
  <head>
    <title>Serotoninfix</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Serotonin Fix</h1>
      <h3>FOOD + COFFEE + DRINKS + YOGA</h3>
    </header>
  	<%= render 'layouts/header'%>
  	<div class='main-content page-width'>
  		<%= yield %>
  	</div>
    <%= render 'layouts/footer'%>
    
  </body>
</html>
